.single-notification-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-image img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid gray;
}

.notification-content {
  flex: 1;
}

.notification-content h1 {
  font-size: 15px;
  margin: 0;
}

.timestamp {
  color: gray;
  margin-top: 10px;
}
