/* UpdatePass.module.css */

.updateContainer {
  background: linear-gradient(#000a738c, #000a738c),
    url("https://static.vecteezy.com/system/resources/previews/026/481/324/original/the-world-of-classic-muscle-cars-with-this-captivating-4k-wallpaper-free-photo.jpg");
  background-size: cover;
  backdrop-filter: blur(20px);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.formContainer {
  background: #ffffff;
  padding-left: 80px;
  width: 510px;
  height: 554px;
  /* Adjust other properties similar to Signin */
}

.label {
  color: #2E2C2C;
  margin-bottom: 10px;
  font-size: 16px;
}

.input {
  height: 45px;
  /* Adjust other properties similar to Signin */
}

.rememberAndPass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  /* Adjust other properties similar to Signin */
}

/* Add any other styles here for consistency */

/* Import the necessary Ant Design styles if required */

/* Adjustments may be necessary based on specific elements or styles in your UpdatePass component */
.emailContainer {
  background: white;
  background-size: cover;
  backdrop-filter: blur(20);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.formContainer {
  background: #ffffff;
  padding: 50px;
  border-radius: 10px;
  width: 510px;
  height: 554px;
}
.input {
  height: 45px;
}
